body {background-color: #273746;}
h1{font-size: 25px; font-family: algerian; color: white; margin-left: 3%; padding-top: 40px;}
p {font-size: 20; margin-left: 3%; color: white; font-family: tahoma; text-align: justify;}
img#r{float: right; margin-right: 3%; border-radius: 20px;} img {float: left; margin-left: 3%;width: 350px; border-radius: 20px;}
 #z{font-size: 20; margin-left: 3%; color: white; font-family: tahoma;border-color: blue;
 	border: solid 2px whitesmoke; border-radius: 10%;width: 68.5%; text-align: center;} #v{display: inline;}
#sd{font-size: 20; margin-left: 3%; color: white; font-family: tahoma;border-color: blue;
    border: solid 2px whitesmoke; border-radius: 10%;width: 93%; text-align: center;}
 .y{margin-right: 3%;} #x{margin-left: 3%; width: 380px;} #w{font-size: 20PX; color: #3498DB; font-family: Vladimir Script}
 #u{float: right; margin-right: 3%;} #s{border: solid 2px whitesmoke; border-radius: 10%;width: 51%; text-align: center;}
 table {background-color: #1A5276; border-color:whitesmoke; margin-left:3%; float: right; margin-right: 3%;} 